# Format data for transformers multiclass classification

###Set up Google drive and file paths

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
train_set = "/content/drive/MyDrive/TFM-private/classifier-experiments/original-data/final-data/train.tsv"
test_set = "/content/drive/MyDrive/TFM-private/classifier-experiments/original-data/final-data/test.tsv"

### Format data

Formats data from Flair format to transformers

In [ ]:
import pandas as pd

df = pd.read_csv(train_set, sep="\t")

# delete all NO_CAT sentences
df = df.drop(df[df.Category == "__label__NO_CAT"].index)

# remove duplicates
df = df.drop_duplicates()

# reformat labels
df['Category'] = df['Category'].str.replace('__label__','')

# change order of columns
df = df[[1, 0]]

# save file 
df.to_csv('test-final.tsv', header=None, index=None, sep='\t')

df.head()

                    1                                       0
0        FOOD#QUALITY                                    Yum!
1        FOOD#QUALITY               Serves really good sushi.
2  FOOD#STYLE_OPTIONS  Not the biggest portions but adequate.
3        FOOD#QUALITY       Green Tea creme brulee is a must!
4        FOOD#QUALITY  Don't leave the restaurant without it.